*{
    list-style: none;
    margin: 0; 
    text-decoration: none;
}



body{
    background-color: rgb(255, 255, 255);
}

/* cabeça */

.contenierCabeca {
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    padding-bottom:50px ;
    padding-top:50px;
    background-color: black;

}

.contenierCabeca a{
    color: white;
}


